*{
    padding: 0;
    margin: 0 auto;
    box-sizing: 0;
    
}
#conteiner-header{
    display: flex;
    justify-content:space-evenly;
    background: aliceblue;
    width: 96%;
    flex-wrap: wrap;
    height: 8%;
    padding: 2%;
    align-items: center;

}

.title-header{
    text-transform: uppercase;
    padding: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    color: rgb(2, 27, 27);
}
.nav-link:hover{
    color: rgb(0, 0, 0);
}
/**/
.box-conteiner-main{
    display: flex;
    width: 100%;
    flex-flow: wrap;

}

.conteiner-main{
    background-image: url(/index/assets/img/img-templete-principal.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-wrap: nowrap;
    height: 826px;
    width: 100%;
}
.box-conteudo-main{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 55vw;
    margin-top: 80px;

}

.main-h1{
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
}

.main-h2{
    font-size: 101px;
    text-transform: capitalize;
    color: white;
    font-weight: 600;

}
.nav-main{
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: solid 1px;
    padding-bottom: 10px;
    color:#35548f;
    font-weight: 700;
    letter-spacing: 2px;
}
/**/
.box-mais-livros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 85vh;
    background-color: aliceblue;
    width: 100%;
}
.livros{
    display: contents;
    justify-content: stretch;
    text-align: center;
    
    
}
.img-livro:hover{
    transform:scale(0.9);
    transition:all ease 0.2s;
    cursor: pointer;

}
.img-h2{
    text-transform: uppercase;
    font-weight: 100;
    margin: 20px 0 15px 0px;
    border-bottom: solid 1px #35548f;
    padding-bottom: 5px;
}
/**/
.box-na-midia{
    background-color: #35548f;
    height: 99vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.article-boxs{
    height: 500px;
    width: 425px;
    margin: 30px;
    padding-top: 30px;
    text-align: center;
}
.p-box{
    padding: 50px;
    font-size: 20px;
    text-transform: capitalize;
    font-style: italic;
    color:white;
}
.h2-box{
    padding: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}
/**/
.img-autor{
    height: 445px;
    margin: 10px; 
}
.img-autor:hover{
    transform:scale(0.9);
    transition:all ease 0.2s;
    cursor: pointer;
}
.box-biografia{
    background: azure;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.cont-biografia{
    width: 430px;
    height: 242px;
    padding-top: 25px;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px;
}

/**/
.box-contatos{
    height: 578px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.contatos-h2{
    font-size: 46px;
    letter-spacing: 10px;
    font-weight: 100;
    padding: 40px;
    margin-bottom: 62px;
    text-transform: uppercase;
}

.contatos-p1{
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;

}
.nav-contatos{
    text-align: center;
    text-align: center;
    margin-bottom: 90px;
}
.contatos-nav{
    margin-right: 15px;
    text-decoration: none;
    color: black;cursor: pointer;
    padding-bottom: 10px;

}
.input-email{
    height: 32px;
    padding: 6px;
    width: 26vw;
    margin-bottom: 40px;
}
.bnt-contatos{
    height: 47px;
    padding: 15px;
    width: 115px;
    margin-left: 5px;
    background: white;
}
.bnt-contatos:hover{
    background:black;
    color: white;
}
.nav-link{
    margin-bottom: 40px;
    cursor: pointer;
}
.cont-logos{
    display: flex;
    margin-top: 40px;
    height: 45px;
}
.img-logo{
    height: 30px;
}
.cont{
    background: #80808014;
    height: 9vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.p-cont{
    display: flex;
    flex-direction: column;
}

